# Ignore build arfifacts and other misc files.
*
!/**/
!*.*

*.o
*_test
metal
*.config
*.cav
*.cvty
*.dat
*.pdb
*.sdf
hm/OR[0-9][A-Z][0-9].*
hm/OR[0-9][A-Z]?[0-9].*
hm/OR5[0-9][A-Z][0-9].*
hm/TAAR[0-9].*
hm/VN1R[0-9].*
*~
cmake-*
.cproject
.gdbinit
.idea/
.project
.settings
.~lock*
allgpcr.*
hm/allgpcr.*
*.gcov
*.gcno
*.gcda
*.old
*.cif
bin/
obj/
*.dSYM/
build/
*.received.txt
www/assets/pngs/*.png
predict/*.json
predict/*.ai
composer.*
vendor
.vscode
www/assets/*.woff2
www/assets/primaryod*
data/*.bkp.json
data/receptor_pq.json
output
OR*.png
tmp
temp
test.*
test/received/*
*.phew
data/seq*
data/*.php
www/assets/image.png
www/custom.json
www/*.bak.php
predict/training_set.txt
www/security.json
www/sidelinks.json
pdbs/*/*.cvy
pdbs/*/*.cavity
pdbs/*/*.params
cavities.js
fail*
gmon.out
nohup.out
nonce*
phew.log
predict/*port.php
*.output
hm/OR*
hm/TAAR*
hm/VN1R*
hm/MS4A*
*.aln
*.bna
*.dnd
*.fasta
data/__pycache__/
preserve
www/consOR*.png
www/primary*
www/prymary*
*bna*
